<!doctype html>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<title>wierdify JS</title>

<p>Welcome to weirdifyJS!</p>

<p>converts your normal text into weird unreadable text that requires JS to get the contents of.</p>

<p>letters that are <b>not allowed / impossible to get:</b></p>
<p>g h k m p q v w x z</p>
<br>

<label>
    you type in the word(s) here
    <input type="text">
</label>



<br>
<br>
<p>...and here you get the result!</p>

<p style="padding: 1rem; border-color: black; border-style: solid; display:inline-block; min-width: 10ch" id="result"></p>


<div class="copies">
   <button onclick="copy()">Copy</button>
</div>
<script>
    $("label > input").on("keyup", function () {
        {#console.log($(this).val())#}
        if ($(this).val()) {
            $.get(`api/${$(this).val()}`, function (data) {
                $("#result").text( data )
            })
        } else {
            $("#result").text("")
        }
    })
    function copy() {
        navigator.clipboard.writeText($("#result").text())
        $(".copies").append("<p>copied!</p>")
    }
</script>
